<?xml version="1.0"?>
<configuration>
	<startup>
	</startup>
	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="example.Sandbox.log.txt"/>
				<!--remove name="Default" -->
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
